.app__buttonBack--container{
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;

}
.app__buttonBack__symbol{
  font-size: 24px;  
  color: var(--color-font-subtitle);
  line-height: 1.5;
  margin-right: 10px;
}
.app__link--back {
  text-decoration: none;
  color: var(--color-font-subtitle);
}
.app__link--Register {
  color: var(--main-bg-color);
  text-decoration: none;
}
.button--singIn-First{
  display: none;
}
@media (max-width: 480px){
  
}
@media (max-width: 768px) and (min-width: 481px) {
}

@media (max-width: 1024px) and (min-width: 769px) {
}

@media (max-width: 1200px) and (min-width: 1025px) {
}
